body{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

/* верхн меню */

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    flex-direction: column;
    font-family:'TT Lakes';
    color: black;
    width: 320px;
    height: 100%;
    box-shadow:-2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);;
    padding-left: 24px;
}

.menu__header {
    display: flex;
    margin-top: 18.73px;
    margin-right: 24px;
    margin-bottom: 40.46px;
    justify-content: space-between;
}

.menu__header :nth-child(2) {
    margin-right: 75.73px;
    margin-top: -5.5px;
}

/* меню с ссылками */

.nav__link {
    padding-left: 0px;
    list-style-type: none;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 32px;
    color: black;
}

a:focus{
    font-weight: 500;
    color: gray;
    margin-bottom: 29px;
    margin-top: -3px;
}

a:focus::before {
    display: inline-flex;
    margin-left: -24px;
    margin-right: 20px;
    content:"";
    border-radius: 1px;
    width: 4px;
    height: 30px;
    background: #41F6D7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

button:hover{
    opacity: 0.75;
    transition-duration: 0.5s;
}

/* номер */

.info__number {
    font-size: 24px;
    font-weight: 600;
}

/* вариант с кнопками */

.lang-menu__btn {
    width: 24px;
    height: 24px;
    border: 0px;
    padding: 0px;
    background-color:white;
}

.lang-menu__btn:focus{
    opacity: 0.5;
}

/* вариант с радио */

.footer__lang-menu2 {
    margin-left: -10px;
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
}

.radio__box{
    font-size: 14px;
    width: 24px;
    height: 24px;
    margin-right: -7px;

}

.radio__input:checked+.radio__box{
    opacity: 0.5;
}